
#body-container{
    main{
    .product-container{
       
        z-index: -1;

        .banner__container{

                margin: 25px;
            .banner{
                background-image: url(../assetsnav/portadaProductos.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                height: 600px;  
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items:center;
                border-radius: 5px;

                &__title{
                    font-family: $fontmain;
                    text-align: center; 
                    margin-top: 30px;
                    color: $textColor; 
                }

                &__subtitle{
                   
                    font-family: $fontmain;
                    text-align: center; 
                    margin-top: 10px;
                    color: $textColor;  
                }

                &__text{
                    font-family: $fontsecondary;
                    text-align: center;
                    margin-top: 325px;
                    margin-left: 10px;
                    margin-right: 10px;
                    color: $textColor;
                    font-size: 20px;
                }

            }
        }

       .catalogue_container{

        .manta__text{
            font-family: $fontsecondary;
        }
            
        .img__principal{
            width: 100%;
            height: auto;
            margin-bottom: 10px;
        }

        img{
            width: 50%;
            height: auto;
        }
        img:hover{
            border: solid $bodyColor;
        }
       } 

       .modalContainer{
        
        width: 80%;
        margin: 0 10%;
        max-height: 88vh;
        background-color: gray;
        flex-direction: column;
        align-items: center;
        position: fixed;
        overflow: auto;
        z-index: 10;
        top: 12vh;
        scrollbar-color: none;

         .modal-header{
            display: flex;
            justify-content: space-around;
            width: 100%;
            background-color: aqua;
        }

        .modal-content{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 90%;
            margin: 10px;

            img{
                height: 100px;
                width: auto;
            }
        }
    }

            

       

       }
    }
}
